extends layout
block content
    -var read = rows[0];
    h1 #{title}
    table(border='2')
        tr
            th No
            td #{read.id}
            th Hit
            td #{read.hit}
            th Writer
            td #{read.name}
        tr
            th Title
            td(colspan='5') #{read.title}
        tr
            th Create
            td #{read.regdate}
            th Modify
            td #{read.moddate}
        tr
            td(colspan='6' height='400') #{read.content}
        tr  
            td(colspan='6')
                a(href='/board/edit/'+read.id) Edit
                br
                a(href='/board/list/1') List
               


    
